# python3 -m venv ./venv
# source ./venv/bin/activate
# python3 -m pip install -U pip
# python3 -m pip install -U -r requirements.txt
jupyterlab
ipykernel
ipython
ipywidgets
nbconvert[webpdf]

wheel
scikit-learn
matplotlib
seaborn
torch; sys_platform == 'darwin'
torchvision; sys_platform == 'darwin'
torchaudio; sys_platform == 'darwin'

# Torch with CUDA
# https://pytorch.org/get-started/locally/
# Verify: python -c "import torch; print(torch.cuda.is_available())"
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124

ruff
mypy