git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/ChaoningZhang/MobileSAM.git
roboflow
supervision
opencv-python
rich
pandas
pandas-stubs
pyarrow
timm

# https://pytorch.org/get-started/locally/